.cards_catalogo{
    display: flex;
    margin: 3rem 3rem;
    justify-content: center;
}

.card{
    width: 18rem;
    margin: 1rem 1rem;
}

.card a{
    color:black;
    text-decoration:none;
}

.card-body{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.img-card{
    max-width: 343px;
    max-height: 200px;
    margin:auto;
    display: block;
}

