.container_cata{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cards_catalogo{
    margin: 1rem 3rem;
}

.card{
    width: 18rem;
}

.card-body{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}