*{
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: cornsilk;
}

@media (max-width: 576px) {
    .lista-nav {
        flex-direction: column;
        align-items: center;
    }
    .logo {
        margin-bottom: 10px;
    }
    .titulo-carrusel {
        text-align: center;
    }
}

.navbar{
    color: gray;
    padding: 10%;
    display: flex;
    flex-direction: row;
}

.container_nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

nav ul li{
    list-style:none;
    margin: 0px 10px;
}

.logo{
    height: 4rem;
    width: 4rem;
}

.inicio_sesion{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.buscador{
    display: flex;
    padding: 0rem 5rem ;
}

.titulo-carrusel{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.carousel{
    display: block;
    justify-content: center;
    margin: 2rem 5rem;
}

.carousel-item{
    width: 20rem;
    height: 30rem;
}

.principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mona_lisa{
    height: 30rem;
    width: 80rem;
    margin: 3rem;
}

.texto_mona_lisa{
    text-align: center;

}

.precio{
    background-color: aqua;
}