*{
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: cornsilk;
}

.navbar{
    color: white;
    background-color: indianred;
    padding: 10%;
    display: flex;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

nav ul li{
    list-style:none;
    margin: 0px 10px;
}

.logo{
    height: 4rem;
    width: 4rem;
}

.buscador{
    display: flex;
    padding: 0rem 5rem ;
}

.titulo-carrusel{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.carousel{
    display: block;
    align-items: center;
    margin: 2rem 5rem;
}

.carousel-item{
    width: 20rem;
    height: 30rem;
}
